<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="/assets/css/stylesheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="SHORTCUT ICON" href="https://www.kulasekaran.com/images/favicon_cel.ico" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-40383205-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
       gtag('config', 'UA-40383205-1');
    </script>
</head>
<body>
    <div class="container-narrow">
        {% include "header.njk" %}
        <main class="website-content" role="main">

            <article class="post">
                <section class="content">
            
                <h1>{{ title }}</h1>
                
                <div class="post-content">
                {{ content | safe }}
                </div> 

                <div class="footer">
                    <p class="publisher muted"><!--{{ site.author }}-->
                    <time class="time" datetime="{{ page.date }}">{{ page.date | formatDateLong }}</time>
                    </p>
                </div>
                </section>
            </article>
        </main>
        {% include "footer.njk" %}
    </div>
</body>
</html>